<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e3expo.e3.middleware.mapper.RfpDetailMapper">
  <resultMap id="BaseResultMap" type="com.e3expo.e3.model.RfpDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rfp_id" jdbcType="INTEGER" property="rfpId" />
    <result column="open" jdbcType="INTEGER" property="open" />
    <result column="special_demand" jdbcType="INTEGER" property="specialDemand" />
    <result column="structure" jdbcType="INTEGER" property="structure" />
    <result column="structure_remark" jdbcType="VARCHAR" property="structureRemark" />
    <result column="material" jdbcType="INTEGER" property="material" />
    <result column="main_color" jdbcType="VARCHAR" property="mainColor" />
    <result column="sub_color" jdbcType="VARCHAR" property="subColor" />
    <result column="color_remark" jdbcType="VARCHAR" property="colorRemark" />
    <result column="relative_logo_path" jdbcType="VARCHAR" property="relativeLogoPath" />
    <result column="special_demand_and_warnings" jdbcType="VARCHAR" property="specialDemandAndWarnings" />
    <result column="reference_ci_standard_path" jdbcType="VARCHAR" property="referenceCiStandardPath" />
    <result column="reference_poster_path" jdbcType="VARCHAR" property="referencePosterPath" />
    <result column="reference_history_graph_path" jdbcType="VARCHAR" property="referenceHistoryGraphPath" />
    <result column="reference_other_file_path" jdbcType="VARCHAR" property="referenceOtherFilePath" />
    <result column="reception_area_num" jdbcType="VARCHAR" property="receptionAreaNum" />
    <result column="product_area_num" jdbcType="INTEGER" property="productAreaNum" />
    <result column="talk_desk_num" jdbcType="INTEGER" property="talkDeskNum" />
    <result column="talk_chair_num" jdbcType="INTEGER" property="talkChairNum" />
    <result column="talk_remark" jdbcType="VARCHAR" property="talkRemark" />
    <result column="seal" jdbcType="INTEGER" property="seal" />
    <result column="electronics_led_num" jdbcType="INTEGER" property="electronicsLedNum" />
    <result column="electronics_ipad_num" jdbcType="INTEGER" property="electronicsIpadNum" />
    <result column="electronics_remark" jdbcType="VARCHAR" property="electronicsRemark" />
    <result column="other_equipment" jdbcType="VARCHAR" property="otherEquipment" />
    <result column="other_equipment_remark" jdbcType="VARCHAR" property="otherEquipmentRemark" />
    <result column="poster_num" jdbcType="INTEGER" property="posterNum" />
    <result column="storage_area_num" jdbcType="INTEGER" property="storageAreaNum" />
    <result column="storage_area_length" jdbcType="INTEGER" property="storageAreaLength" />
    <result column="storage_area_width" jdbcType="INTEGER" property="storageAreaWidth" />
    <result column="storage_area_remark" jdbcType="VARCHAR" property="storageAreaRemark" />
    <result column="activity_area_num" jdbcType="INTEGER" property="activityAreaNum" />
    <result column="activity_area_length" jdbcType="INTEGER" property="activityAreaLength" />
    <result column="activity_area_width" jdbcType="INTEGER" property="activityAreaWidth" />
    <result column="activity_area_remark" jdbcType="VARCHAR" property="activityAreaRemark" />
    <result column="exhibition_goal" jdbcType="VARCHAR" property="exhibitionGoal" />
    <result column="exhibition_goal_remark" jdbcType="VARCHAR" property="exhibitionGoalRemark" />
    <result column="exhibition_audience" jdbcType="VARCHAR" property="exhibitionAudience" />
    <result column="exhibition_audience_remark" jdbcType="VARCHAR" property="exhibitionAudienceRemark" />
    <result column="product_description" jdbcType="VARCHAR" property="productDescription" />
    <result column="rival" jdbcType="VARCHAR" property="rival" />
    <result column="slogan" jdbcType="VARCHAR" property="slogan" />
    <result column="design_concept_advice" jdbcType="VARCHAR" property="designConceptAdvice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rfp_id, open, special_demand, structure, structure_remark, material, main_color, 
    sub_color, color_remark, relative_logo_path, special_demand_and_warnings, reference_ci_standard_path, 
    reference_poster_path, reference_history_graph_path, reference_other_file_path, reception_area_num, 
    product_area_num, talk_desk_num, talk_chair_num, talk_remark, seal, electronics_led_num, 
    electronics_ipad_num, electronics_remark, other_equipment, other_equipment_remark, 
    poster_num, storage_area_num, storage_area_length, storage_area_width, storage_area_remark, 
    activity_area_num, activity_area_length, activity_area_width, activity_area_remark, 
    exhibition_goal, exhibition_goal_remark, exhibition_audience, exhibition_audience_remark, 
    product_description, rival, slogan, design_concept_advice
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from te_rfp_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from te_rfp_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.e3expo.e3.model.RfpDetail">
    insert into te_rfp_detail (id, rfp_id, open, 
      special_demand, structure, structure_remark, 
      material, main_color, sub_color, 
      color_remark, relative_logo_path, special_demand_and_warnings, 
      reference_ci_standard_path, reference_poster_path, 
      reference_history_graph_path, reference_other_file_path, 
      reception_area_num, product_area_num, talk_desk_num, 
      talk_chair_num, talk_remark, seal, 
      electronics_led_num, electronics_ipad_num, 
      electronics_remark, other_equipment, other_equipment_remark, 
      poster_num, storage_area_num, storage_area_length, 
      storage_area_width, storage_area_remark, activity_area_num, 
      activity_area_length, activity_area_width, 
      activity_area_remark, exhibition_goal, exhibition_goal_remark, 
      exhibition_audience, exhibition_audience_remark, 
      product_description, rival, slogan, 
      design_concept_advice)
    values (#{id,jdbcType=INTEGER}, #{rfpId,jdbcType=INTEGER}, #{open,jdbcType=INTEGER}, 
      #{specialDemand,jdbcType=INTEGER}, #{structure,jdbcType=INTEGER}, #{structureRemark,jdbcType=VARCHAR}, 
      #{material,jdbcType=INTEGER}, #{mainColor,jdbcType=VARCHAR}, #{subColor,jdbcType=VARCHAR}, 
      #{colorRemark,jdbcType=VARCHAR}, #{relativeLogoPath,jdbcType=VARCHAR}, #{specialDemandAndWarnings,jdbcType=VARCHAR}, 
      #{referenceCiStandardPath,jdbcType=VARCHAR}, #{referencePosterPath,jdbcType=VARCHAR}, 
      #{referenceHistoryGraphPath,jdbcType=VARCHAR}, #{referenceOtherFilePath,jdbcType=VARCHAR}, 
      #{receptionAreaNum,jdbcType=VARCHAR}, #{productAreaNum,jdbcType=INTEGER}, #{talkDeskNum,jdbcType=INTEGER}, 
      #{talkChairNum,jdbcType=INTEGER}, #{talkRemark,jdbcType=VARCHAR}, #{seal,jdbcType=INTEGER}, 
      #{electronicsLedNum,jdbcType=INTEGER}, #{electronicsIpadNum,jdbcType=INTEGER}, 
      #{electronicsRemark,jdbcType=VARCHAR}, #{otherEquipment,jdbcType=VARCHAR}, #{otherEquipmentRemark,jdbcType=VARCHAR}, 
      #{posterNum,jdbcType=INTEGER}, #{storageAreaNum,jdbcType=INTEGER}, #{storageAreaLength,jdbcType=INTEGER}, 
      #{storageAreaWidth,jdbcType=INTEGER}, #{storageAreaRemark,jdbcType=VARCHAR}, #{activityAreaNum,jdbcType=INTEGER}, 
      #{activityAreaLength,jdbcType=INTEGER}, #{activityAreaWidth,jdbcType=INTEGER}, 
      #{activityAreaRemark,jdbcType=VARCHAR}, #{exhibitionGoal,jdbcType=VARCHAR}, #{exhibitionGoalRemark,jdbcType=VARCHAR}, 
      #{exhibitionAudience,jdbcType=VARCHAR}, #{exhibitionAudienceRemark,jdbcType=VARCHAR}, 
      #{productDescription,jdbcType=VARCHAR}, #{rival,jdbcType=VARCHAR}, #{slogan,jdbcType=VARCHAR}, 
      #{designConceptAdvice,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.e3expo.e3.model.RfpDetail">
    insert into te_rfp_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rfpId != null">
        rfp_id,
      </if>
      <if test="open != null">
        open,
      </if>
      <if test="specialDemand != null">
        special_demand,
      </if>
      <if test="structure != null">
        structure,
      </if>
      <if test="structureRemark != null">
        structure_remark,
      </if>
      <if test="material != null">
        material,
      </if>
      <if test="mainColor != null">
        main_color,
      </if>
      <if test="subColor != null">
        sub_color,
      </if>
      <if test="colorRemark != null">
        color_remark,
      </if>
      <if test="relativeLogoPath != null">
        relative_logo_path,
      </if>
      <if test="specialDemandAndWarnings != null">
        special_demand_and_warnings,
      </if>
      <if test="referenceCiStandardPath != null">
        reference_ci_standard_path,
      </if>
      <if test="referencePosterPath != null">
        reference_poster_path,
      </if>
      <if test="referenceHistoryGraphPath != null">
        reference_history_graph_path,
      </if>
      <if test="referenceOtherFilePath != null">
        reference_other_file_path,
      </if>
      <if test="receptionAreaNum != null">
        reception_area_num,
      </if>
      <if test="productAreaNum != null">
        product_area_num,
      </if>
      <if test="talkDeskNum != null">
        talk_desk_num,
      </if>
      <if test="talkChairNum != null">
        talk_chair_num,
      </if>
      <if test="talkRemark != null">
        talk_remark,
      </if>
      <if test="seal != null">
        seal,
      </if>
      <if test="electronicsLedNum != null">
        electronics_led_num,
      </if>
      <if test="electronicsIpadNum != null">
        electronics_ipad_num,
      </if>
      <if test="electronicsRemark != null">
        electronics_remark,
      </if>
      <if test="otherEquipment != null">
        other_equipment,
      </if>
      <if test="otherEquipmentRemark != null">
        other_equipment_remark,
      </if>
      <if test="posterNum != null">
        poster_num,
      </if>
      <if test="storageAreaNum != null">
        storage_area_num,
      </if>
      <if test="storageAreaLength != null">
        storage_area_length,
      </if>
      <if test="storageAreaWidth != null">
        storage_area_width,
      </if>
      <if test="storageAreaRemark != null">
        storage_area_remark,
      </if>
      <if test="activityAreaNum != null">
        activity_area_num,
      </if>
      <if test="activityAreaLength != null">
        activity_area_length,
      </if>
      <if test="activityAreaWidth != null">
        activity_area_width,
      </if>
      <if test="activityAreaRemark != null">
        activity_area_remark,
      </if>
      <if test="exhibitionGoal != null">
        exhibition_goal,
      </if>
      <if test="exhibitionGoalRemark != null">
        exhibition_goal_remark,
      </if>
      <if test="exhibitionAudience != null">
        exhibition_audience,
      </if>
      <if test="exhibitionAudienceRemark != null">
        exhibition_audience_remark,
      </if>
      <if test="productDescription != null">
        product_description,
      </if>
      <if test="rival != null">
        rival,
      </if>
      <if test="slogan != null">
        slogan,
      </if>
      <if test="designConceptAdvice != null">
        design_concept_advice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rfpId != null">
        #{rfpId,jdbcType=INTEGER},
      </if>
      <if test="open != null">
        #{open,jdbcType=INTEGER},
      </if>
      <if test="specialDemand != null">
        #{specialDemand,jdbcType=INTEGER},
      </if>
      <if test="structure != null">
        #{structure,jdbcType=INTEGER},
      </if>
      <if test="structureRemark != null">
        #{structureRemark,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        #{material,jdbcType=INTEGER},
      </if>
      <if test="mainColor != null">
        #{mainColor,jdbcType=VARCHAR},
      </if>
      <if test="subColor != null">
        #{subColor,jdbcType=VARCHAR},
      </if>
      <if test="colorRemark != null">
        #{colorRemark,jdbcType=VARCHAR},
      </if>
      <if test="relativeLogoPath != null">
        #{relativeLogoPath,jdbcType=VARCHAR},
      </if>
      <if test="specialDemandAndWarnings != null">
        #{specialDemandAndWarnings,jdbcType=VARCHAR},
      </if>
      <if test="referenceCiStandardPath != null">
        #{referenceCiStandardPath,jdbcType=VARCHAR},
      </if>
      <if test="referencePosterPath != null">
        #{referencePosterPath,jdbcType=VARCHAR},
      </if>
      <if test="referenceHistoryGraphPath != null">
        #{referenceHistoryGraphPath,jdbcType=VARCHAR},
      </if>
      <if test="referenceOtherFilePath != null">
        #{referenceOtherFilePath,jdbcType=VARCHAR},
      </if>
      <if test="receptionAreaNum != null">
        #{receptionAreaNum,jdbcType=VARCHAR},
      </if>
      <if test="productAreaNum != null">
        #{productAreaNum,jdbcType=INTEGER},
      </if>
      <if test="talkDeskNum != null">
        #{talkDeskNum,jdbcType=INTEGER},
      </if>
      <if test="talkChairNum != null">
        #{talkChairNum,jdbcType=INTEGER},
      </if>
      <if test="talkRemark != null">
        #{talkRemark,jdbcType=VARCHAR},
      </if>
      <if test="seal != null">
        #{seal,jdbcType=INTEGER},
      </if>
      <if test="electronicsLedNum != null">
        #{electronicsLedNum,jdbcType=INTEGER},
      </if>
      <if test="electronicsIpadNum != null">
        #{electronicsIpadNum,jdbcType=INTEGER},
      </if>
      <if test="electronicsRemark != null">
        #{electronicsRemark,jdbcType=VARCHAR},
      </if>
      <if test="otherEquipment != null">
        #{otherEquipment,jdbcType=VARCHAR},
      </if>
      <if test="otherEquipmentRemark != null">
        #{otherEquipmentRemark,jdbcType=VARCHAR},
      </if>
      <if test="posterNum != null">
        #{posterNum,jdbcType=INTEGER},
      </if>
      <if test="storageAreaNum != null">
        #{storageAreaNum,jdbcType=INTEGER},
      </if>
      <if test="storageAreaLength != null">
        #{storageAreaLength,jdbcType=INTEGER},
      </if>
      <if test="storageAreaWidth != null">
        #{storageAreaWidth,jdbcType=INTEGER},
      </if>
      <if test="storageAreaRemark != null">
        #{storageAreaRemark,jdbcType=VARCHAR},
      </if>
      <if test="activityAreaNum != null">
        #{activityAreaNum,jdbcType=INTEGER},
      </if>
      <if test="activityAreaLength != null">
        #{activityAreaLength,jdbcType=INTEGER},
      </if>
      <if test="activityAreaWidth != null">
        #{activityAreaWidth,jdbcType=INTEGER},
      </if>
      <if test="activityAreaRemark != null">
        #{activityAreaRemark,jdbcType=VARCHAR},
      </if>
      <if test="exhibitionGoal != null">
        #{exhibitionGoal,jdbcType=VARCHAR},
      </if>
      <if test="exhibitionGoalRemark != null">
        #{exhibitionGoalRemark,jdbcType=VARCHAR},
      </if>
      <if test="exhibitionAudience != null">
        #{exhibitionAudience,jdbcType=VARCHAR},
      </if>
      <if test="exhibitionAudienceRemark != null">
        #{exhibitionAudienceRemark,jdbcType=VARCHAR},
      </if>
      <if test="productDescription != null">
        #{productDescription,jdbcType=VARCHAR},
      </if>
      <if test="rival != null">
        #{rival,jdbcType=VARCHAR},
      </if>
      <if test="slogan != null">
        #{slogan,jdbcType=VARCHAR},
      </if>
      <if test="designConceptAdvice != null">
        #{designConceptAdvice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.e3expo.e3.model.RfpDetail">
    update te_rfp_detail
    <set>
      <if test="rfpId != null">
        rfp_id = #{rfpId,jdbcType=INTEGER},
      </if>
      <if test="open != null">
        open = #{open,jdbcType=INTEGER},
      </if>
      <if test="specialDemand != null">
        special_demand = #{specialDemand,jdbcType=INTEGER},
      </if>
      <if test="structure != null">
        structure = #{structure,jdbcType=INTEGER},
      </if>
      <if test="structureRemark != null">
        structure_remark = #{structureRemark,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        material = #{material,jdbcType=INTEGER},
      </if>
      <if test="mainColor != null">
        main_color = #{mainColor,jdbcType=VARCHAR},
      </if>
      <if test="subColor != null">
        sub_color = #{subColor,jdbcType=VARCHAR},
      </if>
      <if test="colorRemark != null">
        color_remark = #{colorRemark,jdbcType=VARCHAR},
      </if>
      <if test="relativeLogoPath != null">
        relative_logo_path = #{relativeLogoPath,jdbcType=VARCHAR},
      </if>
      <if test="specialDemandAndWarnings != null">
        special_demand_and_warnings = #{specialDemandAndWarnings,jdbcType=VARCHAR},
      </if>
      <if test="referenceCiStandardPath != null">
        reference_ci_standard_path = #{referenceCiStandardPath,jdbcType=VARCHAR},
      </if>
      <if test="referencePosterPath != null">
        reference_poster_path = #{referencePosterPath,jdbcType=VARCHAR},
      </if>
      <if test="referenceHistoryGraphPath != null">
        reference_history_graph_path = #{referenceHistoryGraphPath,jdbcType=VARCHAR},
      </if>
      <if test="referenceOtherFilePath != null">
        reference_other_file_path = #{referenceOtherFilePath,jdbcType=VARCHAR},
      </if>
      <if test="receptionAreaNum != null">
        reception_area_num = #{receptionAreaNum,jdbcType=VARCHAR},
      </if>
      <if test="productAreaNum != null">
        product_area_num = #{productAreaNum,jdbcType=INTEGER},
      </if>
      <if test="talkDeskNum != null">
        talk_desk_num = #{talkDeskNum,jdbcType=INTEGER},
      </if>
      <if test="talkChairNum != null">
        talk_chair_num = #{talkChairNum,jdbcType=INTEGER},
      </if>
      <if test="talkRemark != null">
        talk_remark = #{talkRemark,jdbcType=VARCHAR},
      </if>
      <if test="seal != null">
        seal = #{seal,jdbcType=INTEGER},
      </if>
      <if test="electronicsLedNum != null">
        electronics_led_num = #{electronicsLedNum,jdbcType=INTEGER},
      </if>
      <if test="electronicsIpadNum != null">
        electronics_ipad_num = #{electronicsIpadNum,jdbcType=INTEGER},
      </if>
      <if test="electronicsRemark != null">
        electronics_remark = #{electronicsRemark,jdbcType=VARCHAR},
      </if>
      <if test="otherEquipment != null">
        other_equipment = #{otherEquipment,jdbcType=VARCHAR},
      </if>
      <if test="otherEquipmentRemark != null">
        other_equipment_remark = #{otherEquipmentRemark,jdbcType=VARCHAR},
      </if>
      <if test="posterNum != null">
        poster_num = #{posterNum,jdbcType=INTEGER},
      </if>
      <if test="storageAreaNum != null">
        storage_area_num = #{storageAreaNum,jdbcType=INTEGER},
      </if>
      <if test="storageAreaLength != null">
        storage_area_length = #{storageAreaLength,jdbcType=INTEGER},
      </if>
      <if test="storageAreaWidth != null">
        storage_area_width = #{storageAreaWidth,jdbcType=INTEGER},
      </if>
      <if test="storageAreaRemark != null">
        storage_area_remark = #{storageAreaRemark,jdbcType=VARCHAR},
      </if>
      <if test="activityAreaNum != null">
        activity_area_num = #{activityAreaNum,jdbcType=INTEGER},
      </if>
      <if test="activityAreaLength != null">
        activity_area_length = #{activityAreaLength,jdbcType=INTEGER},
      </if>
      <if test="activityAreaWidth != null">
        activity_area_width = #{activityAreaWidth,jdbcType=INTEGER},
      </if>
      <if test="activityAreaRemark != null">
        activity_area_remark = #{activityAreaRemark,jdbcType=VARCHAR},
      </if>
      <if test="exhibitionGoal != null">
        exhibition_goal = #{exhibitionGoal,jdbcType=VARCHAR},
      </if>
      <if test="exhibitionGoalRemark != null">
        exhibition_goal_remark = #{exhibitionGoalRemark,jdbcType=VARCHAR},
      </if>
      <if test="exhibitionAudience != null">
        exhibition_audience = #{exhibitionAudience,jdbcType=VARCHAR},
      </if>
      <if test="exhibitionAudienceRemark != null">
        exhibition_audience_remark = #{exhibitionAudienceRemark,jdbcType=VARCHAR},
      </if>
      <if test="productDescription != null">
        product_description = #{productDescription,jdbcType=VARCHAR},
      </if>
      <if test="rival != null">
        rival = #{rival,jdbcType=VARCHAR},
      </if>
      <if test="slogan != null">
        slogan = #{slogan,jdbcType=VARCHAR},
      </if>
      <if test="designConceptAdvice != null">
        design_concept_advice = #{designConceptAdvice,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.e3expo.e3.model.RfpDetail">
    update te_rfp_detail
    set rfp_id = #{rfpId,jdbcType=INTEGER},
      open = #{open,jdbcType=INTEGER},
      special_demand = #{specialDemand,jdbcType=INTEGER},
      structure = #{structure,jdbcType=INTEGER},
      structure_remark = #{structureRemark,jdbcType=VARCHAR},
      material = #{material,jdbcType=INTEGER},
      main_color = #{mainColor,jdbcType=VARCHAR},
      sub_color = #{subColor,jdbcType=VARCHAR},
      color_remark = #{colorRemark,jdbcType=VARCHAR},
      relative_logo_path = #{relativeLogoPath,jdbcType=VARCHAR},
      special_demand_and_warnings = #{specialDemandAndWarnings,jdbcType=VARCHAR},
      reference_ci_standard_path = #{referenceCiStandardPath,jdbcType=VARCHAR},
      reference_poster_path = #{referencePosterPath,jdbcType=VARCHAR},
      reference_history_graph_path = #{referenceHistoryGraphPath,jdbcType=VARCHAR},
      reference_other_file_path = #{referenceOtherFilePath,jdbcType=VARCHAR},
      reception_area_num = #{receptionAreaNum,jdbcType=VARCHAR},
      product_area_num = #{productAreaNum,jdbcType=INTEGER},
      talk_desk_num = #{talkDeskNum,jdbcType=INTEGER},
      talk_chair_num = #{talkChairNum,jdbcType=INTEGER},
      talk_remark = #{talkRemark,jdbcType=VARCHAR},
      seal = #{seal,jdbcType=INTEGER},
      electronics_led_num = #{electronicsLedNum,jdbcType=INTEGER},
      electronics_ipad_num = #{electronicsIpadNum,jdbcType=INTEGER},
      electronics_remark = #{electronicsRemark,jdbcType=VARCHAR},
      other_equipment = #{otherEquipment,jdbcType=VARCHAR},
      other_equipment_remark = #{otherEquipmentRemark,jdbcType=VARCHAR},
      poster_num = #{posterNum,jdbcType=INTEGER},
      storage_area_num = #{storageAreaNum,jdbcType=INTEGER},
      storage_area_length = #{storageAreaLength,jdbcType=INTEGER},
      storage_area_width = #{storageAreaWidth,jdbcType=INTEGER},
      storage_area_remark = #{storageAreaRemark,jdbcType=VARCHAR},
      activity_area_num = #{activityAreaNum,jdbcType=INTEGER},
      activity_area_length = #{activityAreaLength,jdbcType=INTEGER},
      activity_area_width = #{activityAreaWidth,jdbcType=INTEGER},
      activity_area_remark = #{activityAreaRemark,jdbcType=VARCHAR},
      exhibition_goal = #{exhibitionGoal,jdbcType=VARCHAR},
      exhibition_goal_remark = #{exhibitionGoalRemark,jdbcType=VARCHAR},
      exhibition_audience = #{exhibitionAudience,jdbcType=VARCHAR},
      exhibition_audience_remark = #{exhibitionAudienceRemark,jdbcType=VARCHAR},
      product_description = #{productDescription,jdbcType=VARCHAR},
      rival = #{rival,jdbcType=VARCHAR},
      slogan = #{slogan,jdbcType=VARCHAR},
      design_concept_advice = #{designConceptAdvice,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>