<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e3expo.e3.middleware.mapper.UserFileConfigMapper">
  <resultMap id="BaseResultMap" type="com.e3expo.e3.model.UserFileConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="lower" jdbcType="INTEGER" property="lower" />
    <result column="upper" jdbcType="INTEGER" property="upper" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="file_limit" jdbcType="INTEGER" property="fileLimit" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, is_valid, user_type, lower, upper, remark, file_limit, file_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dic_user_file_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dic_user_file_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.e3expo.e3.model.UserFileConfig">
    insert into dic_user_file_config (id, name, is_valid, 
      user_type, lower, upper, 
      remark, file_limit, file_type
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{isValid,jdbcType=INTEGER}, 
      #{userType,jdbcType=INTEGER}, #{lower,jdbcType=INTEGER}, #{upper,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{fileLimit,jdbcType=INTEGER}, #{fileType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.e3expo.e3.model.UserFileConfig">
    insert into dic_user_file_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="lower != null">
        lower,
      </if>
      <if test="upper != null">
        upper,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="fileLimit != null">
        file_limit,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="lower != null">
        #{lower,jdbcType=INTEGER},
      </if>
      <if test="upper != null">
        #{upper,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileLimit != null">
        #{fileLimit,jdbcType=INTEGER},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.e3expo.e3.model.UserFileConfig">
    update dic_user_file_config
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="lower != null">
        lower = #{lower,jdbcType=INTEGER},
      </if>
      <if test="upper != null">
        upper = #{upper,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileLimit != null">
        file_limit = #{fileLimit,jdbcType=INTEGER},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.e3expo.e3.model.UserFileConfig">
    update dic_user_file_config
    set name = #{name,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=INTEGER},
      lower = #{lower,jdbcType=INTEGER},
      upper = #{upper,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      file_limit = #{fileLimit,jdbcType=INTEGER},
      file_type = #{fileType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.e3expo.e3.model.UserFileConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="lower" jdbcType="INTEGER" property="lower" />
    <result column="upper" jdbcType="INTEGER" property="upper" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="file_limit" jdbcType="INTEGER" property="fileLimit" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, is_valid, user_type, lower, upper, remark, file_limit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dic_user_file_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dic_user_file_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.e3expo.e3.model.UserFileConfig">
    insert into dic_user_file_config (id, name, is_valid, 
      user_type, lower, upper, 
      remark, file_limit)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{isValid,jdbcType=INTEGER}, 
      #{userType,jdbcType=INTEGER}, #{lower,jdbcType=INTEGER}, #{upper,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{fileLimit,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.e3expo.e3.model.UserFileConfig">
    insert into dic_user_file_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="lower != null">
        lower,
      </if>
      <if test="upper != null">
        upper,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="fileLimit != null">
        file_limit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="lower != null">
        #{lower,jdbcType=INTEGER},
      </if>
      <if test="upper != null">
        #{upper,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileLimit != null">
        #{fileLimit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.e3expo.e3.model.UserFileConfig">
    update dic_user_file_config
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="lower != null">
        lower = #{lower,jdbcType=INTEGER},
      </if>
      <if test="upper != null">
        upper = #{upper,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileLimit != null">
        file_limit = #{fileLimit,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.e3expo.e3.model.UserFileConfig">
    update dic_user_file_config
    set name = #{name,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=INTEGER},
      lower = #{lower,jdbcType=INTEGER},
      upper = #{upper,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      file_limit = #{fileLimit,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>